{% extends 'base.html' %}

{% block content %}
<div class="container pt-5">
    <div class="row">
        <div class="col text-center page-header text-uppercase">
            <p>Login</p>
        </div>
    </div>
</div>

<!--Login Form-->
<div class="container pt-5">
    <div class="row">
        <div class="col-12 mt-4 mb-5 user-form">
            <div class="col-12 user-border main-text user-field-margin pt-5 pb-4">
                <form method="POST" action="{{ url_for('login') }}">
                    <!-- username -->
                    <div class="mb-3">
                        <input placeholder="Username" type="text" class="form-control" id="username" name="username"
                            aria-describedby="emailHelp" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$"
                            class="validate" required>
                    </div>
                    <!-- password -->
                    <div class="mb-3">
                        <input placeholder="Password" id="password" name="password" class="form-control" type="password"
                            minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-font-send  hover-overlay-text">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}