{% extends 'base.html' %} {% block content %}

<!--Catch Log-->
<div class="container pt-5">
    <div class="row mx-auto">
        <a href="{{url_for('get_catches')}}"><i
                class="fas fa-chevron-left d-block d-sm-none d-none d-sm-block d-md-none"></i></a>
        <div class="col-8 offset-2 text-center page-header">
            <p>Catch Form</p>
        </div>
    </div>


    <!--Add Catch Form-->
    <form action="{{ url_for('add_catch') }}" method="POST">
        <!-- Date -->
        <div class="col">
            <i class="fas fa-user-cog"></i>
            <input placeholder="Date" type="date" class="form-control" id="date" name="date" aria-describedby="date"
                required>
        </div>
        <div class="col">
            <!-- Country -->
            <i class="fas fa-city"></i>
            <input placeholder="Country" type="text" id="country" name="country" class="form-control" required>
        </div>
        <!-- City -->
        <div class="col">
            <i class="fas fa-globe"></i>
            <input placeholder="City" type="text" id="city" name="city" class="form-control" required>
        </div>
    </form>
    <div class="row">
        <div class="col text-center">
            <i class="far fa-calendar-alt"></i>
            <button type="submit" name="action" class="btn btn-primary default-button">Submit</button>
        </div>
    </div>
</div>
{% endblock %}