{% extends 'base.html' %} {% block content %}

<!--Catch Log-->
<div class="container pt-5">
    <div class="row mx-auto">
        <div class="col-8 offset-2 text-center page-header">
            <p>Edit Catch</p>
        </div>
    </div>


    <!--Add Catch Form-->
    <div class="col-12 mt-4 mb-5 user-form">
        <div class="col-12 user-border main-text user-field-margin pt-5 pb-4">
            <form method="POST" action="{{ url_for('edit_catch', catch_id=catch._id) }}">
                <!-- Date -->
                <div class="col">
                    <i class="far fa-calendar-alt"></i>
                    <input placeholder="Date" value="{{ catch.date }}" type="date" class="form-control validate" id="date" name="date"
                        aria-describedby="date" required>
                </div>
                <!-- Country -->
                <div class="col">
                    <i class="fas fa-city"></i>
                    <input placeholder="Country" value="{{ catch.country }}" type="text" id="country" name="country" class="form-control validate" required>
                </div>
                <!-- City -->
                <div class="col">
                    <i class="fas fa-globe"></i>
                    <input placeholder="City" value="{{ catch.city }}" type="text" id="city" name="city" class="form-control validate" required>
                </div>
                <div class="row">
                     <!-- cancel button -->
                    <a href="{{ url_for('get_catches') }}" class="btn-large red text-shadow">
                        Cancel <i class="fas fa-times-circle right"></i>
                    </a>
                    <div class="col text-center">
                        <button type="submit" name="action" class="btn btn-primary default-button">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}